extends layout

block content
  body.centered-form
    .centered-form__form
      form(action="/whiteboard", method="get")
        .form-field
          h3 Join collaborative whiteboard
        .form-field
          label(for="name") Display Name:
          input(type="text", name="name" autofocus)
        .form-field#room
          input(type="text", hidden name="room" value="main")
        .form-field
          button(type="submit") Join

  script(src="/socket.io/socket.io.js")
  script(src="/vendors/js/rooms.js")      